{% extends "layout.njk" %}

{% block content %}
    <form class="card" method="POST" action="/professores">

        <section class="avatar" 
            style="background: url(https://images.unsplash.com/photo-1589987637306-05ee56dab871?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80) no-repeat center center / cover" >
        </section>
       
        <section class="detalhes">
            <h3>Novo professor</h3>

            {% include 'professores/campos.njk' %}
        </section>

    </form>
{% endblock content %}