{% extends "layout.njk" %}

{% block header %}
    <div class="header_home" >
        <h1>Helping to code</h1>
    </div>  
{% endblock  %}

{% block content %}
    <div class="card_home">
        <a href="/professores">
            <div class="professores_home">
            <h2>Professores</h2>
                
            </div>

        </a>

        <a href="/alunos">
            <div class="alunos_home">
                <h2>Alunos</h2>
            </div>
        </a>
        

    </div>

{% endblock content %}