<!DOCTYPE html>
<html lang="pt-br">
    
    <head>
        {% block head %}
            <title>Helping To Code  </title>
        {% endblock %}

        <link rel="stylesheet" href="/style.css">
    </head>

    <body  >
        <!-- -->
        <header>
            {% block header %}
            <div class="links" >
                <a href="/home">Home</a>
                <a href="/professores">Professores</a>
                <a href="/alunos">Alunos</a>
            </div>  
            {% endblock %}
        </header>

        <!-- Bloco de código que será substituido de forma dinâmica -->
        {% block content %} 
        {% endblock %}

        <script >

            const atualPagina = location.pathname

// console.log(atualPagina)
const menuItems = document.querySelectorAll("header .links a")

for (item of menuItems){
    if(atualPagina.includes(item.getAttribute("href"))) {
        item.classList.add("active")
    }
}
        </script>

    </body>
</html>