{% extends "layout.njk" %}

{% block content %}
    <form class="card" method="POST" action="/alunos">

        <section class="avatar" 
            style="background: url(https://images.unsplash.com/photo-1428223501723-d821c5d00ca3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80) no-repeat center center / cover" >
        </section>
       
        <section class="detalhes">
            <h3>Novo aluno</h3>

            {% include 'alunos/campos.njk' %}
        </section>

    </form>
{% endblock content %}