    <div class="item">
        <div>Avatar URL</div>
        <div>
            <input type="url" name="avatar_url" placeholder="http://" value="{{aluno.avatar_url}}">
        </div>
    </div>

    <div class="item">
        <div>Aluno</div>
        <div>
            <input type="text" name="nome" placeholder="Nome do aluno" value="{{aluno.nome}}">
        </div>
    </div>

    <div class="item">
        <div>Email</div>
        <div>
            <input type="email" name="email" placeholder="exemplo@email.com" value="{{aluno.email}}">
        </div>
    </div>

    <div class="item">
        <div>Data de nascimento</div>
        <div>
            <input type="date" name="nascimento" placeholder="Data de nascimento" value="{{aluno.nascimento}}">
        </div>
    </div>

    <div class="item">
        <div>Sexo</div>
        <div>
            <span>
                <input type="radio" name="sexo" value="M" 
                    {% if aluno.sexo == 'M' %}
                        checked
                    {% endif %}
                > 
                Masculino 
            </span>

            <span>
                <input type="radio" name="sexo" value="F" 
                    {% if aluno.sexo == 'F' %}
                        checked
                    {% endif %}
                > 
                Feminino 
            </span> 

        </div>
    </div>

     <div class="item">
        <div>Curso</div>
        <div>
            <select name="curso" id="">
                <option value="Introdução a Programação" 
                {% if aluno.curso == "Introdução a Programação" %}selected{%endif%}
                >Introdução a Programação</option>

                <option value="Desenvolvimento Web"
                {% if aluno.curso == "Desenvolvimento Web" %}selected{%endif%}
                >Desenvolvimento Web</option>

                <option value="Desenvolvimento Mobile"
                {% if aluno.curso == "Desenvolvimento Mobile" %}selected{%endif%}
                >Desenvolvimento Mobile</option>

                 <option value="Ciência de Dados"
                 {% if aluno.curso == "Ciência de Dados" %}selected{%endif%}
                 >Ciência de Dados</option>

                <option value="Segurança da Informação<"
                {% if aluno.curso == "Segurança da Informação<" %}selected{%endif%}
                >Segurança da Informação</option>

                <option value="Redes de Computadores"
                {% if aluno.curso == "Redes de Computadores" %}selected{%endif%}
                >Redes de Computadores</option>

                <option value="Gerência de Projetos"
                {% if aluno.curso == "Gerência de Projetos" %}selected{%endif%}
                >Gerência de Projetos</option>

                <option value="Inglês"
                {% if aluno.curso == "Inglês" %}selected{%endif%}
                >Inglês</option>

                <option value="Matemática"
                {% if aluno.curso == "Matemática" %}selected{%endif%}
                >Matemática</option>

                <option value="Python"
                {% if aluno.curso == "Python" %}selected{%endif%}
                >Python</option>

            </select>
        </div>
    </div>

    
    <button type="submit">Salvar</button>