<script>

    const formDeletar = document.querySelector("#form-deletar")
    formDeletar.addEventListener("submit", function(event){
        const confirmacao = confirm("Tem certeza que deseja deletar?")
        if(!confirmacao){
            event.preventDefault()
        }
    })
</script>